@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

body {
  font-family: 'Inter', sans-serif;
}

@theme {
  /* --color-note-bg-yellow: #f4c34d;
  --color-note-bg-green: #a1d377;
  --color-note-bg-yellow: #f4c34d;
  --color-note-bg-yellow: #f4c34d; */
  --font-cause: 'Cause', sans-serif;
  --font-fira-code: 'Fira Code', monospace;
}

.glass-card {
background: rgba(255, 255, 255, 0.050);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

.bottom-menu {
  animation: macDockSlideUp 2.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  will-change: transform;
}

@keyframes macDockSlideUp {
  0% {
    transform: translateY(120%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Notes */
.note-item {
  @apply text-black p-4 min-h-[150px] rounded-md font-cause;
}

/* Global Custom Scrollbar Style */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.25);
  border-radius: 9999px;
  transition: background 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.45);
}